@import "../../App/colors";
@import "../../App/vars";

.form {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@mixin input {
  color: $text-color;
  border-radius: $border-radius-sm;
  border: none;
  padding: 0.5rem;
  min-width: 7rem;
}
.select {
  background-color: rgba($card-color, 0.5);
  @include input();
  .option {
    background: ($card-color);
    padding: 0.5rem;
  }
}

.input {
  @include input();
  color: $bg-color;
}
.inputRadio {
  accent-color: $acent-color;
}

.btn {
  background-color: $acent-color;
  cursor: pointer;
  @include input();
  &:hover {
    filter: opacity(0.5);
  }
  &:active {
    filter: opacity(1);
  }
}
